In [1]:
import pandas as pd
annual_temp = pd.read_csv(r'C:\DATA ANALYSIS AND DATA SCIENCE PROJECTS\AgriGrow\data\Raw Data\temp_annual_mean.csv')
district_temp = pd.read_csv(r'C:\DATA ANALYSIS AND DATA SCIENCE PROJECTS\AgriGrow\data\Raw Data\temp_district_wise.csv')

In [2]:
#Cleaning Annual Temperature Data
annual_temp.head(3)

     YEAR ANNUAL JAN-FEB MAR-MAY JUN-SEP OCT-DEC
0  1901.0  25.42   20.11   27.64   28.16    23.1
1  1902.0  25.42   20.88   27.96   27.98   22.51
2  1903.0  25.01   19.99   27.02      28   22.33

In [3]:
annual_temp.duplicated().sum()
#No Duplicates

np.int64(0)

In [4]:
#To look for null values
annual_temp.isna().sum()

YEAR       2
ANNUAL     1
JAN-FEB    1
MAR-MAY    1
JUN-SEP    1
OCT-DEC    1
dtype: int64

In [5]:
annual_temp[annual_temp['YEAR'].isna()]
#Index 121 -> Year 2022
#Index 122 -> Year 2023
#Both of them are not needed anyways

     YEAR  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC
121   NaN     NaN      NaN      NaN      NaN      NaN
122   NaN  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC

In [6]:
annual_temp = annual_temp.dropna(subset=['YEAR'])
annual_temp.isna().sum()

YEAR       0
ANNUAL     0
JAN-FEB    0
MAR-MAY    0
JUN-SEP    0
OCT-DEC    0
dtype: int64

In [7]:
annual_temp['YEAR'] = annual_temp['YEAR'].astype(int)
new_annual_temp = annual_temp[annual_temp['YEAR'] >= 1997]
new_annual_temp = new_annual_temp.reset_index(drop = True)
new_annual_temp.head(3)

   YEAR ANNUAL JAN-FEB MAR-MAY JUN-SEP OCT-DEC
0  1997  25.35    20.2   27.23   28.13   23.22
1  1998  25.72   20.83   27.82   28.31   23.43
2  1999  25.57   20.81   27.81   27.92   23.37

In [8]:
annual_temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 121 entries, 0 to 120
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     121 non-null    int64
 1   ANNUAL   121 non-null    object
 2   JAN-FEB  121 non-null    object
 3   MAR-MAY  121 non-null    object
 4   JUN-SEP  121 non-null    object
 5   OCT-DEC  121 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.6+ KB

In [9]:
print(type(new_annual_temp['ANNUAL'][15]))
print(type(new_annual_temp['JAN-FEB'][15]))
print(type(new_annual_temp['MAR-MAY'][15]))
print(type(new_annual_temp['JUN-SEP'][15]))
print(type(new_annual_temp['OCT-DEC'][15]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [10]:
new_annual_temp['ANNUAL'] = new_annual_temp['ANNUAL'].astype(float)
new_annual_temp['JAN-FEB'] = new_annual_temp['JAN-FEB'].astype(float)
new_annual_temp['MAR-MAY'] = new_annual_temp['MAR-MAY'].astype(float)
new_annual_temp['JUN-SEP'] = new_annual_temp['JUN-SEP'].astype(float)
new_annual_temp['OCT-DEC'] = new_annual_temp['OCT-DEC'].astype(float)

In [11]:
new_annual_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     25 non-null     int64
 1   ANNUAL   25 non-null     float64
 2   JAN-FEB  25 non-null     float64
 3   MAR-MAY  25 non-null     float64
 4   JUN-SEP  25 non-null     float64
 5   OCT-DEC  25 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 1.3 KB

In [12]:
new_annual_temp  #CLEANED

    YEAR  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC
0   1997   25.35    20.20    27.23    28.13    23.22
1   1998   25.72    20.83    27.82    28.31    23.43
2   1999   25.57    20.81    27.81    27.92    23.37
3   2000   25.53    20.53    27.63    27.85    23.65
4   2001   25.60    20.78    27.73    27.92    23.61
5   2002   25.74    20.74    28.02    28.17    23.57
6   2003   25.61    20.71    27.83    28.10    23.33
7   2004   25.65    20.76    28.10    28.02    23.30
8   2005   25.58    20.80    27.70    28.25    23.10
9   2006   25.72    21.39    27.69    28.02    23.59
10  2007   25.67    20.92    27.84    28.11    23.42
11  2008   25.55    20.26    27.70    27.85    23.85
12  2009   26.05    21.59    28.12    28.55    23.61
13  2010   26.03    21.09    28.89    28.20    23.58
14  2011   25.62    20.52    27.67    28.06    23.71
15  2012   25.60    20.36    27.82    28.26    23.33
16  2013   25.68    20.93    28.04    28.03    23.36
17  2014   25.73    20.53    27.62    28.57    23.54
18  2015   25.92    21.05    27.63    28.46    24.08
19  2016   26.20    21.80    28.64    28.35    23.84
20  2017   26.04    21.37    28.20    28.39    23.84
21  2018   25.90    21.24    28.16    28.28    23.55
22  2019   25.86    20.71    28.00    28.60    23.49
23  2020   25.78    20.79    27.58    28.45    23.75
24  2021   25.93    21.43    27.97    28.36    23.66

In [13]:
#Cleaning District Wise Temperature Data
district_temp.head(3)

,sno,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,District
0,0,1912,22.965,24.170,28.024,31.609,33.000,31.100,27.180,25.999,27.661,26.686,23.167,21.096,Adilabad
1,1,1913,23.233,24.964,29.675,32.378,35.101,32.330,28.376,27.853,26.852,26.614,22.351,21.260,Adilabad
2,2,1914,22.708,24.058,28.554,32.160,32.434,32.286,27.008,26.479,26.762,25.250,21.657,20.216,Adilabad

In [14]:
#Deleted the 'sno' column but couldn't show it here
district_temp.columns

Index(['sno', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
       'Sep', 'Oct', 'Nov', 'Dec', 'District'],
      dtype='object')

In [15]:
#Move District Column to the beginning
cols = list(district_temp.columns)  
cols.remove('District')                 
cols = ['District'] + cols              
district_temp = district_temp[cols]

In [16]:
district_temp.head()

,District,sno,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Adilabad,0,1912,22.965,24.170,28.024,31.609,33.000,31.100,27.180,25.999,27.661,26.686,23.167,21.096
1,Adilabad,1,1913,23.233,24.964,29.675,32.378,35.101,32.330,28.376,27.853,26.852,26.614,22.351,21.260
2,Adilabad,2,1914,22.708,24.058,28.554,32.160,32.434,32.286,27.008,26.479,26.762,25.250,21.657,20.216
3,Adilabad,3,1915,22.413,24.189,28.269,32.898,33.690,29.975,27.588,27.100,26.565,26.117,22.051,20.894
4,Adilabad,4,1916,21.963,22.996,28.156,30.432,34.193,32.500,27.960,26.899,26.491,26.089,23.558,20.526

In [17]:
district_temp.isna().sum()

District    0
sno         0
Year        0
Jan         0
Feb         0
Mar         0
Apr         0
May         0
Jun         0
Jul         0
Aug         0
Sep         0
Oct         0
Nov         0
Dec         0
dtype: int64

In [18]:
district_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54774 entries, 0 to 54773
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   District  54774 non-null  object
 1   sno       54774 non-null  int64
 2   Year      54774 non-null  int64
 3   Jan       54774 non-null  float64
 4   Feb       54774 non-null  float64
 5   Mar       54774 non-null  float64
 6   Apr       54774 non-null  float64
 7   May       54774 non-null  float64
 8   Jun       54774 non-null  float64
 9   Jul       54774 non-null  float64
 10  Aug       54774 non-null  float64
 11  Sep       54774 non-null  float64
 12  Oct       54774 non-null  float64
 13  Nov       54774 non-null  float64
 14  Dec       54774 non-null  float64
dtypes: float64(12), int64(2), object(1)
memory usage: 6.3+ MB

In [19]:
new_district_temp = district_temp[district_temp['Year'] >= 1997]

In [20]:
new_district_temp = new_district_temp.reset_index(drop = True)
new_district_temp

,District,sno,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Adilabad,85,1997,22.242,25.412,29.659,33.145,35.172,30.941,28.318,27.131,28.473,27.624,23.619,22.881
1,Adilabad,86,1998,23.251,25.323,28.965,32.932,33.042,32.605,28.532,27.546,29.034,27.047,24.459,22.082
2,Adilabad,87,1999,23.408,26.745,30.021,32.531,36.153,31.831,27.006,27.503,27.431,25.866,23.394,21.813
3,Adilabad,88,2000,22.796,24.888,27.897,32.419,35.454,30.050,27.582,26.002,27.335,26.377,24.119,21.545
4,Adilabad,89,2001,23.205,25.227,28.209,32.724,30.687,28.139,27.402,26.766,27.529,25.766,24.859,22.577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9124,North Dinajpur,54769,2009,16.383,19.772,23.077,28.016,29.832,30.491,28.643,28.804,28.763,28.570,23.327,19.241
9125,North Dinajpur,54770,2010,17.811,20.787,25.217,30.658,29.650,29.577,28.413,28.473,28.270,27.293,23.259,19.363
9126,North Dinajpur,54771,2011,17.068,19.112,23.377,27.981,29.195,29.586,28.753,28.443,27.687,27.002,23.338,18.434
9127,North Dinajpur,54772,2012,17.233,19.526,24.348,28.700,30.017,29.376,29.013,29.074,28.730,27.597,23.841,19.349
9128,North Dinajpur,54773,2013,16.795,20.297,25.139,27.943,29.670,29.768,29.439,28.474,28.198,26.759,22.735,19.106

In [21]:
#Check if we have all the necessary rows
print(len(new_district_temp['District'].unique()))

537

In [22]:
print(537*17)
print(new_district_temp.shape)

9129
(9129, 15)

In [23]:
new_district_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9129 entries, 0 to 9128
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   District  9129 non-null   object
 1   sno       9129 non-null   int64
 2   Year      9129 non-null   int64
 3   Jan       9129 non-null   float64
 4   Feb       9129 non-null   float64
 5   Mar       9129 non-null   float64
 6   Apr       9129 non-null   float64
 7   May       9129 non-null   float64
 8   Jun       9129 non-null   float64
 9   Jul       9129 non-null   float64
 10  Aug       9129 non-null   float64
 11  Sep       9129 non-null   float64
 12  Oct       9129 non-null   float64
 13  Nov       9129 non-null   float64
 14  Dec       9129 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 1.0+ MB

In [24]:
#Check DataType of Temperatures
type(new_district_temp['Apr'][58])

numpy.float64

In [25]:
new_district_temp.head(5) #CLEANED

,District,sno,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Adilabad,85,1997,22.242,25.412,29.659,33.145,35.172,30.941,28.318,27.131,28.473,27.624,23.619,22.881
1,Adilabad,86,1998,23.251,25.323,28.965,32.932,33.042,32.605,28.532,27.546,29.034,27.047,24.459,22.082
2,Adilabad,87,1999,23.408,26.745,30.021,32.531,36.153,31.831,27.006,27.503,27.431,25.866,23.394,21.813
3,Adilabad,88,2000,22.796,24.888,27.897,32.419,35.454,30.050,27.582,26.002,27.335,26.377,24.119,21.545
4,Adilabad,89,2001,23.205,25.227,28.209,32.724,30.687,28.139,27.402,26.766,27.529,25.766,24.859,22.577

In [26]:
len(new_district_temp['District'].unique())

537

In [27]:
new_district_temp['District'].unique()

array(['Adilabad', 'Anantapur', 'Chittoor', 'Cuddapah', 'East Godavari',
       'Guntur', 'Hyderabad', 'Karimnagar', 'Khammam', 'Krishna',
       'Kurnool', 'Mahbubnagar', 'Medak', 'Nalgonda', 'Nellore',
       'Nizamabad', 'Prakasam', 'Rangareddi', 'Srikakulam',
       'Vishakhapatnam', 'Vizianagaram', 'Warangal', 'West Godavari',
       'Changlang', 'Dibang Valley', 'East Kameng', 'East Siang', 'Lohit',
       'Lower Subansiri', 'Tawang', 'Tirap', 'Upper Subansiri',
       'West Kameng', 'West Siang', 'Barpeta', 'Cachar', 'Darrang',
       'Dhemaji', 'Dhubri', 'Dibrugarh', 'Golaghat', 'Golapara',
       'Hailakandi', 'Jorhat', 'Kamrup', 'Karbi Anglong', 'Karimganj',
       'Kokrajhar', 'Lakhimpur', 'Nagaon', 'Nalbari',
       'North Cachar Hills', 'Sibsagar', 'Sonitpur', 'Tinsukia', 'Araria',
       'Banka', 'Begusarai', 'Bhagalpur', 'Bhojpur', 'Buxar', 'Darbhanga',
       'Gaya', 'Gopalganj', 'Jamui', 'Jehanabad', 'Kaimur', 'Katihar',
       'Khagaria', 'Kishanganj', 'Lakhisarai', 'Madhepura', 'Madhubani',
       'Munger', 'Muzaffarpur', 'Nalanda', 'Nawada', 'Paschim Champaran',
       'Patna', 'Purba Champaran', 'Purnia', 'Rohtas', 'Saharsa',
       'Samastipur', 'Saran', 'Sheikhpura', 'Sheohar', 'Sitamarhi',
       'Siwan', 'Supaul', 'Vaishali', 'Chandigarh', 'Bastar', 'Bilaspur',
       'Dantewada', 'Dhamtari', 'Durg', 'Janjgir', 'Jashpur', 'Kanker',
       'Kawardha', 'Korba', 'Koriya', 'Mahasamund', 'Raigarh', 'Raipur',
       'Rajnandgaon', 'Surguja', 'Dadra & Nagar Haveli', 'New Delhi',
       'Ahmadabad', 'Amreli', 'Anand', 'Banas Kantha', 'Bharuch',
       'Bhavnagar', 'Dohad', 'Gandhinagar', 'Kachchh', 'Kheda',
       'Mahesana', 'Narmada', 'Panch Mahals', 'Patan', 'Rajkot',
       'Sabar Kantha', 'Surat', 'Surendranagar', 'The Dangs', 'Vadodara',
       'Ambala', 'Bhiwani', 'Faridabad', 'Fatehabad', 'Gurgaon', 'Hisar',
       'Jhajjar', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra',
       'Mahendragarh', 'Panchkula', 'Panipat', 'Rewari', 'Rohtak',
       'Sirsa', 'Sonipat', 'Yamunanagar', 'Chamba', 'Kangra', 'Kinnaur',
       'Kullu', 'Lahul & Spiti', 'Mandi', 'Shimla', 'Sirmaur', 'Solan',
       'Una', 'Anantanag', 'Badgam', 'Baramula', 'Doda', 'Jammu',
       'Kargil', 'Kathua', 'Kupwara', 'Leh', 'Pulwama', 'Punch',
       'Rajauri', 'Srinagar', 'Udhampur', 'Bokaro', 'Chatra', 'Deoghar',
       'Dhanbad', 'Dumka', 'Garwah', 'Giridih', 'Godda', 'Gumla',
       'Hazaribagh', 'Kodarma', 'Lohardaga', 'Pakaur', 'Palamu',
       'West Singbhum', 'East Singbhum', 'Ranchi', 'Sahibganj',
       'Bagalkot', 'Bangalore', 'Bangalore Rural', 'Belgaum', 'Bellary',
       'Bidar', 'Bijapur', 'Chamarajanagar', 'Chikmangalur',
       'Chitradurga', 'Davanagere', 'Dharwad', 'Gadag', 'Gulbarga',
       'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal', 'Mandya',
       'Mysore', 'Raichur', 'Shimoga', 'Tumkur', 'Idukki', 'Balaghat',
       'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Chhatarpur', 'Chhindwara',
       'Damoh', 'Datia', 'Dewas', 'Dhar', 'Dindori', 'East Nimar', 'Guna',
       'Gwalior', 'Harda', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua',
       'Katni', 'Mandla', 'Mandsaur', 'Morena', 'Narsimhapur', 'Neemuch',
       'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa', 'Sagar', 'Satna',
       'Sehore', 'Seoni', 'Shahdol', 'Shajapur', 'Sheopur', 'Shivpuri',
       'Sidhi', 'Tikamgarh', 'Ujjain', 'Umaria', 'Vidisha', 'West Nimar',
       'Ahmadnagar', 'Akola', 'Amravati', 'Bhandara', 'Bid', 'Buldana',
       'Chandrapur', 'Dhule', 'Gadchiroli', 'Gondiya', 'Hingoli',
       'Jalgaon', 'Jalna', 'Kolhapur', 'Latur', 'Nagpur', 'Nanded',
       'Nandurbar', 'Nashik', 'Osmanabad', 'Parbhani', 'Pune', 'Sangli',
       'Satara', 'Solapur', 'Wardha', 'Washim', 'Yavatmal', 'Bishnupur',
       'Chandel', 'Churachandpur', 'Imphal', 'Imphal East', 'Imphal West',
       'Senapati', 'Tamenglong', 'Thoubal', 'Ukhrul', 'East Garo Hills',
       'East Khasi Hills', 'Jaintia Hills', 'West Garo Hills',
       'West Khasi Hills', 'Aizwal', 'Champhai', 'Kolasib', 'Lawngtlai',
       'Lunglei', 'Mamit', 'Saiha', 'Kohima', 'Mokokchung', 'Mon', 'Phek',
       'Tuensang', 'Wokha', 'Zunheboto', 'Anugul', 'Balangir',
       'Baleshwar', 'Bargarh', 'Baudh', 'Bhadrak', 'Cuttack', 'Debagarh',
       'Dhenkanal', 'Gajapati', 'Ganjam', 'Jagatsinghapur', 'Jajapur',
       'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Kendujhar',
       'Khordha', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'Nabarangapur',
       'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Sonapur',
       'Sundargarh', 'Karaikal', 'Pondicherry', 'Yanam', 'Amritsar',
       'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Firozpur', 'Gurdaspur',
       'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Mansa',
       'Moga', 'Muktsar', 'Nawanshahr', 'Patiala', 'Rupnagar', 'Sangrur',
       'Ajmer', 'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur',
       'Bhilwara', 'Bikaner', 'Bundi', 'Chittaurgarh', 'Churu', 'Dausa',
       'Dhaulpur', 'Dungarpur', 'Ganganagar', 'Hanumangarh', 'Jaipur',
       'Jaisalmer', 'Jalor', 'Jhalawar', 'Jhunjhunun', 'Jodhpur',
       'Karauli', 'Kota', 'Nagaur', 'Pali', 'Rajsamand', 'Sawai Madhopur',
       'Sikar', 'Sirohi', 'Tonk', 'Udaipur', 'East Sikkim',
       'North Sikkim', 'South Sikkim', 'West Sikkim', 'Ariyalur',
       'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kancheepuram', 'Karur', 'Madurai', 'Nagapattinam',
       'Namakkal', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Salem',
       'Sivaganga', 'Thanjavur', 'The Nilgiris', 'Theni', 'Thiruvallur',
       'Thiruvarur', 'Thoothukkudi', 'Tiruchirapalli', 'Tirunelveli',
       'Tiruvannamalai', 'Vellore', 'Viluppuram', 'Virudhunagar',
       'Dhalai', 'North Tripura', 'South Tripura', 'West Tripura', 'Agra',
       'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Auraiya', 'Azamgarh',
       'Baghpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Barabanki',
       'Bareilly', 'Basti', 'Bijnor', 'Budaun', 'Bulandshahar',
       'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad',
       'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar',
       'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hardoi', 'Hathras',
       'Jalaun', 'Jaunpur', 'Jhansi', 'Jyotiba Phule Nagar', 'Kannauj',
       'Kanpur Dehat', 'Kanpur Nagar', 'Kaushambi', 'Kheri', 'Kushinagar',
       'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri',
       'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad',
       'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Rae Bareli', 'Rampur',
       'Saharanpur', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Shahjahanpur', 'Shrawasti', 'Siddharth Nagar', 'Sitapur',
       'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi', 'Almora',
       'Bageshwar', 'Chamoli', 'Champawat', 'Dehradun', 'Garhwal',
       'Hardwar', 'Nainital', 'Pithoragarh', 'Rudraprayag',
       'Tehri Garhwal', 'Udham Singh Nagar', 'Uttarkashi', 'Bankura',
       'Burdwan', 'Birbhum', 'Cooch Behar', 'South Dinajpur',
       'Darjeeling', 'Howrah', 'Hooghly', 'Jalpaiguri', 'Kolkata',
       'Malda', 'Midnapore', 'Murshidabad', 'Nadia', 'North 24 Parganas',
       'Purulia', 'South 24 Parganas', 'North Dinajpur'], dtype=object)

In [28]:
#Merging Columns in District Wise Data According to Annual Temperature Data

monthly_district_temp = pd.DataFrame()
monthly_district_temp["District"] = new_district_temp["District"]
monthly_district_temp["Year"] = new_district_temp["Year"]

# Create seasonal averages
monthly_district_temp["JAN-FEB"] = new_district_temp[["Jan", "Feb"]].mean(axis=1)
monthly_district_temp["MAR-MAY"] = new_district_temp[["Mar", "Apr", "May"]].mean(axis=1)
monthly_district_temp["JUN-SEP"] = new_district_temp[["Jun", "Jul", "Aug", "Sep"]].mean(axis=1)
monthly_district_temp["OCT-DEC"] = new_district_temp[["Oct", "Nov", "Dec"]].mean(axis=1)

monthly_district_temp["ANNUAL"] = new_district_temp[["Jan","Feb","Mar","Apr","May","Jun",
                                                 "Jul","Aug","Sep","Oct","Nov","Dec"]].mean(axis=1)

monthly_district_temp.head()

   District  Year  JAN-FEB    MAR-MAY   JUN-SEP    OCT-DEC     ANNUAL
0  Adilabad  1997  23.8270  32.658667  28.71575  24.708000  27.884750
1  Adilabad  1998  24.2870  31.646333  29.42925  24.529333  27.901500
2  Adilabad  1999  25.0765  32.901667  28.44275  23.691000  27.808500
3  Adilabad  2000  23.8420  31.923333  27.74225  24.013667  27.205333
4  Adilabad  2001  24.2160  30.540000  27.45900  24.400667  26.924167

In [29]:
print(monthly_district_temp['District'].unique())
print(len(monthly_district_temp['District'].unique()))

['Adilabad' 'Anantapur' 'Chittoor' 'Cuddapah' 'East Godavari' 'Guntur'
 'Hyderabad' 'Karimnagar' 'Khammam' 'Krishna' 'Kurnool' 'Mahbubnagar'
 'Medak' 'Nalgonda' 'Nellore' 'Nizamabad' 'Prakasam' 'Rangareddi'
 'Srikakulam' 'Vishakhapatnam' 'Vizianagaram' 'Warangal' 'West Godavari'
 'Changlang' 'Dibang Valley' 'East Kameng' 'East Siang' 'Lohit'
 'Lower Subansiri' 'Tawang' 'Tirap' 'Upper Subansiri' 'West Kameng'
 'West Siang' 'Barpeta' 'Cachar' 'Darrang' 'Dhemaji' 'Dhubri' 'Dibrugarh'
 'Golaghat' 'Golapara' 'Hailakandi' 'Jorhat' 'Kamrup' 'Karbi Anglong'
 'Karimganj' 'Kokrajhar' 'Lakhimpur' 'Nagaon' 'Nalbari'
 'North Cachar Hills' 'Sibsagar' 'Sonitpur' 'Tinsukia' 'Araria' 'Banka'
 'Begusarai' 'Bhagalpur' 'Bhojpur' 'Buxar' 'Darbhanga' 'Gaya' 'Gopalganj'
 'Jamui' 'Jehanabad' 'Kaimur' 'Katihar' 'Khagaria' 'Kishanganj'
 'Lakhisarai' 'Madhepura' 'Madhubani' 'Munger' 'Muzaffarpur' 'Nalanda'
 'Nawada' 'Paschim Champaran' 'Patna' 'Purba Champaran' 'Purnia' 'Rohtas'
 'Saharsa' 'Samastipur' 'Saran' 'Sheikhpura' 'Sheohar' 'Sitamarhi' 'Siwan'
 'Supaul' 'Vaishali' 'Chandigarh' 'Bastar' 'Bilaspur' 'Dantewada'
 'Dhamtari' 'Durg' 'Janjgir' 'Jashpur' 'Kanker' 'Kawardha' 'Korba'
 'Koriya' 'Mahasamund' 'Raigarh' 'Raipur' 'Rajnandgaon' 'Surguja'
 'Dadra & Nagar Haveli' 'New Delhi' 'Ahmadabad' 'Amreli' 'Anand'
 'Banas Kantha' 'Bharuch' 'Bhavnagar' 'Dohad' 'Gandhinagar' 'Kachchh'
 'Kheda' 'Mahesana' 'Narmada' 'Panch Mahals' 'Patan' 'Rajkot'
 'Sabar Kantha' 'Surat' 'Surendranagar' 'The Dangs' 'Vadodara' 'Ambala'
 'Bhiwani' 'Faridabad' 'Fatehabad' 'Gurgaon' 'Hisar' 'Jhajjar' 'Jind'
 'Kaithal' 'Karnal' 'Kurukshetra' 'Mahendragarh' 'Panchkula' 'Panipat'
 'Rewari' 'Rohtak' 'Sirsa' 'Sonipat' 'Yamunanagar' 'Chamba' 'Kangra'
 'Kinnaur' 'Kullu' 'Lahul & Spiti' 'Mandi' 'Shimla' 'Sirmaur' 'Solan'
 'Una' 'Anantanag' 'Badgam' 'Baramula' 'Doda' 'Jammu' 'Kargil' 'Kathua'
 'Kupwara' 'Leh' 'Pulwama' 'Punch' 'Rajauri' 'Srinagar' 'Udhampur'
 'Bokaro' 'Chatra' 'Deoghar' 'Dhanbad' 'Dumka' 'Garwah' 'Giridih' 'Godda'
 'Gumla' 'Hazaribagh' 'Kodarma' 'Lohardaga' 'Pakaur' 'Palamu'
 'West Singbhum' 'East Singbhum' 'Ranchi' 'Sahibganj' 'Bagalkot'
 'Bangalore' 'Bangalore Rural' 'Belgaum' 'Bellary' 'Bidar' 'Bijapur'
 'Chamarajanagar' 'Chikmangalur' 'Chitradurga' 'Davanagere' 'Dharwad'
 'Gadag' 'Gulbarga' 'Hassan' 'Haveri' 'Kodagu' 'Kolar' 'Koppal' 'Mandya'
 'Mysore' 'Raichur' 'Shimoga' 'Tumkur' 'Idukki' 'Balaghat' 'Barwani'
 'Betul' 'Bhind' 'Bhopal' 'Chhatarpur' 'Chhindwara' 'Damoh' 'Datia'
 'Dewas' 'Dhar' 'Dindori' 'East Nimar' 'Guna' 'Gwalior' 'Harda'
 'Hoshangabad' 'Indore' 'Jabalpur' 'Jhabua' 'Katni' 'Mandla' 'Mandsaur'
 'Morena' 'Narsimhapur' 'Neemuch' 'Panna' 'Raisen' 'Rajgarh' 'Ratlam'
 'Rewa' 'Sagar' 'Satna' 'Sehore' 'Seoni' 'Shahdol' 'Shajapur' 'Sheopur'
 'Shivpuri' 'Sidhi' 'Tikamgarh' 'Ujjain' 'Umaria' 'Vidisha' 'West Nimar'
 'Ahmadnagar' 'Akola' 'Amravati' 'Bhandara' 'Bid' 'Buldana' 'Chandrapur'
 'Dhule' 'Gadchiroli' 'Gondiya' 'Hingoli' 'Jalgaon' 'Jalna' 'Kolhapur'
 'Latur' 'Nagpur' 'Nanded' 'Nandurbar' 'Nashik' 'Osmanabad' 'Parbhani'
 'Pune' 'Sangli' 'Satara' 'Solapur' 'Wardha' 'Washim' 'Yavatmal'
 'Bishnupur' 'Chandel' 'Churachandpur' 'Imphal' 'Imphal East'
 'Imphal West' 'Senapati' 'Tamenglong' 'Thoubal' 'Ukhrul'
 'East Garo Hills' 'East Khasi Hills' 'Jaintia Hills' 'West Garo Hills'
 'West Khasi Hills' 'Aizwal' 'Champhai' 'Kolasib' 'Lawngtlai' 'Lunglei'
 'Mamit' 'Saiha' 'Kohima' 'Mokokchung' 'Mon' 'Phek' 'Tuensang' 'Wokha'
 'Zunheboto' 'Anugul' 'Balangir' 'Baleshwar' 'Bargarh' 'Baudh' 'Bhadrak'
 'Cuttack' 'Debagarh' 'Dhenkanal' 'Gajapati' 'Ganjam' 'Jagatsinghapur'
 'Jajapur' 'Jharsuguda' 'Kalahandi' 'Kandhamal' 'Kendrapara' 'Kendujhar'
 'Khordha' 'Koraput' 'Malkangiri' 'Mayurbhanj' 'Nabarangapur' 'Nayagarh'
 'Nuapada' 'Puri' 'Rayagada' 'Sambalpur' 'Sonapur' 'Sundargarh' 'Karaikal'
 'Pondicherry' 'Yanam' 'Amritsar' 'Bathinda' 'Faridkot' 'Fatehgarh Sahib'
 'Firozpur' 'Gurdaspur' 'Hoshiarpur' 'Jalandhar' 'Kapurthala' 'Ludhiana'
 'Mansa' 'Moga' 'Muktsar' 'Nawanshahr' 'Patiala' 'Rupnagar' 'Sangrur'
 'Ajmer' 'Alwar' 'Banswara' 'Baran' 'Barmer' 'Bharatpur' 'Bhilwara'
 'Bikaner' 'Bundi' 'Chittaurgarh' 'Churu' 'Dausa' 'Dhaulpur' 'Dungarpur'
 'Ganganagar' 'Hanumangarh' 'Jaipur' 'Jaisalmer' 'Jalor' 'Jhalawar'
 'Jhunjhunun' 'Jodhpur' 'Karauli' 'Kota' 'Nagaur' 'Pali' 'Rajsamand'
 'Sawai Madhopur' 'Sikar' 'Sirohi' 'Tonk' 'Udaipur' 'East Sikkim'
 'North Sikkim' 'South Sikkim' 'West Sikkim' 'Ariyalur' 'Chennai'
 'Coimbatore' 'Cuddalore' 'Dharmapuri' 'Dindigul' 'Erode' 'Kancheepuram'
 'Karur' 'Madurai' 'Nagapattinam' 'Namakkal' 'Perambalur' 'Pudukkottai'
 'Ramanathapuram' 'Salem' 'Sivaganga' 'Thanjavur' 'The Nilgiris' 'Theni'
 'Thiruvallur' 'Thiruvarur' 'Thoothukkudi' 'Tiruchirapalli' 'Tirunelveli'
 'Tiruvannamalai' 'Vellore' 'Viluppuram' 'Virudhunagar' 'Dhalai'
 'North Tripura' 'South Tripura' 'West Tripura' 'Agra' 'Aligarh'
 'Allahabad' 'Ambedkar Nagar' 'Auraiya' 'Azamgarh' 'Baghpat' 'Bahraich'
 'Ballia' 'Balrampur' 'Banda' 'Barabanki' 'Bareilly' 'Basti' 'Bijnor'
 'Budaun' 'Bulandshahar' 'Chandauli' 'Chitrakoot' 'Deoria' 'Etah' 'Etawah'
 'Faizabad' 'Farrukhabad' 'Fatehpur' 'Firozabad' 'Gautam Buddha Nagar'
 'Ghaziabad' 'Ghazipur' 'Gonda' 'Gorakhpur' 'Hardoi' 'Hathras' 'Jalaun'
 'Jaunpur' 'Jhansi' 'Jyotiba Phule Nagar' 'Kannauj' 'Kanpur Dehat'
 'Kanpur Nagar' 'Kaushambi' 'Kheri' 'Kushinagar' 'Lalitpur' 'Lucknow'
 'Maharajganj' 'Mahoba' 'Mainpuri' 'Mathura' 'Mau' 'Meerut' 'Mirzapur'
 'Moradabad' 'Muzaffarnagar' 'Pilibhit' 'Pratapgarh' 'Rae Bareli' 'Rampur'
 'Saharanpur' 'Sant Kabir Nagar' 'Sant Ravidas Nagar' 'Shahjahanpur'
 'Shrawasti' 'Siddharth Nagar' 'Sitapur' 'Sonbhadra' 'Sultanpur' 'Unnao'
 'Varanasi' 'Almora' 'Bageshwar' 'Chamoli' 'Champawat' 'Dehradun'
 'Garhwal' 'Hardwar' 'Nainital' 'Pithoragarh' 'Rudraprayag'
 'Tehri Garhwal' 'Udham Singh Nagar' 'Uttarkashi' 'Bankura' 'Burdwan'
 'Birbhum' 'Cooch Behar' 'South Dinajpur' 'Darjeeling' 'Howrah' 'Hooghly'
 'Jalpaiguri' 'Kolkata' 'Malda' 'Midnapore' 'Murshidabad' 'Nadia'
 'North 24 Parganas' 'Purulia' 'South 24 Parganas' 'North Dinajpur']
537

In [30]:
monthly_district_temp = monthly_district_temp.rename(columns={
    'JAN-FEB': 'Jan-FebDistrict',
    'MAR-MAY': 'Mar-MayDistrict',
    'JUN-SEP': 'Jun-SepDistrict',
    'OCT-DEC': 'Oct-DecDistrict',
    'ANNUAL': 'AnnualDistrict'
})
monthly_district_temp.columns

Index(['District', 'Year', 'Jan-FebDistrict', 'Mar-MayDistrict',
       'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict'],
      dtype='object')

In [31]:
new_annual_temp = new_annual_temp.rename(columns={
    "YEAR": "Year",
    "ANNUAL": "AnnualNational",
    "JAN-FEB": "JanFebNational",
    "MAR-MAY": "MarMayNational",
    "JUN-SEP": "JunSepNational",
    "OCT-DEC": "OctDecNational"
})
new_annual_temp.columns

Index(['Year', 'AnnualNational', 'JanFebNational', 'MarMayNational',
       'JunSepNational', 'OctDecNational'],
      dtype='object')

In [32]:
import numpy as np
np.max(monthly_district_temp['Year'])

2013

In [33]:
import numpy as np
np.max(new_annual_temp['Year'])

2021

In [34]:
final_annual_temp = new_annual_temp[new_annual_temp['Year'] <= 2013]

In [35]:
print(np.max(final_annual_temp['Year']))
print(np.max(monthly_district_temp['Year']))
print(np.min(final_annual_temp['Year']))
print(np.min(monthly_district_temp['Year']))

2013
2013
1997
1997

In [36]:
"""Linear Regression
    Input Variable -> Data used for prediction
    Target Variable -> Data that is predicted
    
    y = mx + c
    where, y -> target variable
           x -> input variable
           m -> slope
           c -> intercept
           
    The second you plot the data on the graph calculation the mean the of 
    both input and target variable
    
    x-axis -> input variable
    y-axis -> target variable

    If the mean of x is p and the mean of y is q,
    plot x = p(vertical line) and y = q(horizontal line) on the graph.
    
    It is given that the line (of the graph) will pass through the intersection of
    the above plotted lines.
    
    For each data point in x, calculate x - mean(x)
    This gives us the deviation of x with its mean
    
    Do the same for y
    
    Calculate the square of x - mean(x)
    This ensures that positive and negative values do not nullify each other
    After calculating this for all values of x, calculate their sum
    
    Now calculate (x-mean(x))(y-mean(y))
    After calculating this for all values of x and y, calculate their sum
    
    ** m = E ((x-mean(X)(y-mean(y))) / E ((x-mean(x))^2)
    E = summation
    
    ** mean(y) = m * mean(x) + c
    Use this equation to calculate the value of c
    We already have m, mean(x) and mean(y)
    
    The difference between the points in the line that we plotted and the actual data points 
    is called Residual.
    Residual should be minimum
    
    Line of Best Fit: The kine we get is rotated left or right to find out the minimum error
    ... this line with minimum error is called the line of best fit
    
    We change the value of m and c to rotate the line
    Higher we rotate, more accurate line we get
    
    Error for one data point: Take the difference between the point on the line and
    the actual data point and square it
    To get the total error, take the sum of the squared value
    
    The rotation should not go beyond x = mean(x) and y = mean(y)
    
    R^2: Tells us how well the model predicts the actual data points
    
    Problem with Linear Regression: Outliers affect the result of the prediction negatively... Thus we have to
    remove them via EDA
    
    Ground Truth: Actual Data Points
    Actual Truth: Estimated Data Points
    
    Calculate the difference between actual data point and mean(y)
    Calculate the difference between estimated data point and mean(y)
    y hat (^ on top of y): value of y from y = mx+c for different values of x
    y hat -> Estimated Data Point
    ** R^2 = E (y hat - mean(y))^2 / E (y - mean(y))^2
    R^2 -> 1: Good Fit
    R^2 -> 0: Bad Fit
    
    Independent Columns -> Features (can be multiple)
    Target Column -> only one
    
    When the number of features increase, chances of overfitting also increses
    Overfitting -> when a model becomes too complex and "memorizes" the training data, failing to generalize and 
    make accurate predictions on new, unseen data. 
    Underfitting -> occurs when a model is too simple to capture the underlying patterns in the training data, 
    leading to poor performance on both the training and new, unseen data.
    
    Adjusted R^2 = 1 - (((1-R^2)(N-1)) / N-p-1)
    where, N -> Total Sample Size
           p -> Number of Features/Independent Variables"""

'Linear Regression\n    Input Variable -> Data used for prediction\n    Target Variable -> Data that is predicted\n    \n    y = mx + c\n    where, y -> target variable\n           x -> input variable\n           m -> slope\n           c -> intercept\n           \n    The second you plot the data on the graph calculation the mean the of \n    both input and target variable\n    \n    x-axis -> input variable\n    y-axis -> target variable\n\n    If the mean of x is p and the mean of y is q,\n    plot x = p(vertical line) and y = q(horizontal line) on the graph.\n    \n    It is given that the line (of the graph) will pass through the intersection of\n    the above plotted lines.\n    \n    For each data point in x, calculate x - mean(x)\n    This gives us the deviation of x with its mean\n    \n    Do the same for y\n    \n    Calculate the square of x - mean(x)\n    This ensures that positive and negative values do not nullify each other\n    After calculating this for all values of x, calculate their sum\n    \n    Now calculate (x-mean(x))(y-mean(y))\n    After calculating this for all values of x and y, calculate their sum\n    \n    ** m = E ((x-mean(X)(y-mean(y))) / E ((x-mean(x))^2)\n    E = summation\n    \n    ** mean(y) = m * mean(x) + c\n    Use this equation to calculate the value of c\n    We already have m, mean(x) and mean(y)\n    \n    The difference between the points in the line that we plotted and the actual data points \n    is called Residual.\n    Residual should be minimum\n    \n    Line of Best Fit: The kine we get is rotated left or right to find out the minimum error\n    ... this line with minimum error is called the line of best fit\n    \n    We change the value of m and c to rotate the line\n    Higher we rotate, more accurate line we get\n    \n    Error for one data point: Take the difference between the point on the line and\n    the actual data point and square it\n    To get the total error, take the sum of the squared value\n    \n    The rotation should not go beyond x = mean(x) and y = mean(y)\n    \n    R^2: Tells us how well the model predicts the actual data points\n    \n    Problem with Linear Regression: Outliers affect the result of the prediction negatively... Thus we have to\n    remove them via EDA\n    \n    Ground Truth: Actual Data Points\n    Actual Truth: Estimated Data Points\n    \n    Calculate the difference between actual data point and mean(y)\n    Calculate the difference between estimated data point and mean(y)\n    y hat (^ on top of y): value of y from y = mx+c for different values of x\n    y hat -> Estimated Data Point\n    ** R^2 = E (y hat - mean(y))^2 / E (y - mean(y))^2\n    R^2 -> 1: Good Fit\n    R^2 -> 0: Bad Fit\n    \n    Independent Columns -> Features (can be multiple)\n    Target Column -> only one\n    \n    When the number of features increase, chances of overfitting also increses\n    Overfitting -> when a model becomes too complex and "memorizes" the training data, failing to generalize and \n    make accurate predictions on new, unseen data. \n    Underfitting -> occurs when a model is too simple to capture the underlying patterns in the training data, \n    leading to poor performance on both the training and new, unseen data.\n    \n    Adjusted R^2 = 1 - (((1-R^2)(N-1)) / N-p-1)\n    where, N -> Total Sample Size\n           p -> Number of Features/Independent Variables'

In [37]:
monthly_district_temp.columns

Index(['District', 'Year', 'Jan-FebDistrict', 'Mar-MayDistrict',
       'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict'],
      dtype='object')

In [38]:
final_annual_temp.columns

Index(['Year', 'AnnualNational', 'JanFebNational', 'MarMayNational',
       'JunSepNational', 'OctDecNational'],
      dtype='object')

In [39]:
#Applying Linear Regression for each district separately

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

feature_map = {
    "Jan-FebDistrict": ["JanFebNational", "AnnualNational"],
    "Mar-MayDistrict": ["MarMayNational", "AnnualNational"],
    "Jun-SepDistrict": ["JunSepNational", "AnnualNational"],
    "Oct-DecDistrict": ["OctDecNational", "AnnualNational"],
    "AnnualDistrict": ["JanFebNational", "MarMayNational", "JunSepNational", "OctDecNational", "AnnualNational"]
}

results = []

for district_name in monthly_district_temp["District"].unique():
    df_district = monthly_district_temp[monthly_district_temp["District"] == district_name]
    
    df_merged = df_district.merge(final_annual_temp, on="Year", how="inner")

    for target_col, features in feature_map.items():
        X = df_merged[features]
        y = df_merged[target_col]

        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True, random_state=42)
        
        model = LinearRegression()
        model.fit(X_train, y_train)
        
        y_pred = model.predict(X_test)
        rmse = np.sqrt(mean_squared_error(y_test, y_pred))
        
        results.append({
            "District": district_name,
            "Target": target_col,
            "Features": features,
            "RMSE": rmse
        })

results_df = pd.DataFrame(results)

In [40]:
results_df

,District,Target,Features,RMSE
0,Adilabad,Jan-FebDistrict,"[JanFebNational, AnnualNational]",0.598199
1,Adilabad,Mar-MayDistrict,"[MarMayNational, AnnualNational]",0.568993
2,Adilabad,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.625471
3,Adilabad,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.787740
4,Adilabad,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.651353
...,...,...,...,...
2680,North Dinajpur,Jan-FebDistrict,"[JanFebNational, AnnualNational]",0.298340
2681,North Dinajpur,Mar-MayDistrict,"[MarMayNational, AnnualNational]",0.517498
2682,North Dinajpur,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.284492
2683,North Dinajpur,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.556999
2684,North Dinajpur,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.439530

In [41]:
"""RMSE = 0.5 -> on average, your modelâ€™s predictions are 0.5 degree C off from the actual district temperature."""

'RMSE = 0.5 -> on average, your modelâ€™s predictions are 0.5 degree C off from the actual district temperature.'

In [42]:
print("Linear Regression")
print("Minimum RMSE: ", np.min(results_df['RMSE']))
print("Maximum RMSE: ", np.max(results_df['RMSE']))
print("Mean RMSE: ", np.mean(results_df['RMSE']))
print("Median RMSE: ", np.median(results_df['RMSE']))
print()
print("Total Count of RMSE:", results_df['RMSE'].count())
print("Count of RMSE less than 1:", (results_df['RMSE'] < 1).sum())
print("Count of RMSE greater than 1:", (results_df['RMSE'] >= 1).sum())
print("Count of RMSE between 1 and 2:", ((results_df['RMSE'] > 1) & (results_df['RMSE'] <= 2)).sum())
print("Count of RMSE greater than 2:", (results_df['RMSE'] > 2).sum())

Linear Regression
Minimum RMSE:  0.0892843304808028
Maximum RMSE:  2.3625170814596763
Mean RMSE:  0.5737619626279163
Median RMSE:  0.5368587206224824

Total Count of RMSE: 2685
Count of RMSE less than 1: 2475
Count of RMSE greater than 1: 210
Count of RMSE between 1 and 2: 204
Count of RMSE greater than 2: 6

In [43]:
""" Random Forest
"""

' Random Forest\n'

In [44]:
# Applying Random Forest for each district separately

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

feature_map = {
    "Jan-FebDistrict": ["JanFebNational", "AnnualNational"],
    "Mar-MayDistrict": ["MarMayNational", "AnnualNational"],
    "Jun-SepDistrict": ["JunSepNational", "AnnualNational"],
    "Oct-DecDistrict": ["OctDecNational", "AnnualNational"],
    "AnnualDistrict": ["JanFebNational", "MarMayNational", "JunSepNational", "OctDecNational", "AnnualNational"]
}

results = []

for district_name in monthly_district_temp["District"].unique():
    df_district = monthly_district_temp[monthly_district_temp["District"] == district_name]
    
    df_merged = df_district.merge(final_annual_temp, on="Year", how="inner")

    for target_col, features in feature_map.items():
        X = df_merged[features]
        y = df_merged[target_col]

        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, shuffle=True, random_state=42
        )
        
        model = RandomForestRegressor(n_estimators=100, random_state=42)
        model.fit(X_train, y_train)
        
        y_pred = model.predict(X_test)
        rmse = np.sqrt(mean_squared_error(y_test, y_pred))
        
        results.append({
            "District": district_name,
            "Target": target_col,
            "Features": features,
            "RMSE": rmse
        })

results_df = pd.DataFrame(results)

In [45]:
results_df

,District,Target,Features,RMSE
0,Adilabad,Jan-FebDistrict,"[JanFebNational, AnnualNational]",0.864633
1,Adilabad,Mar-MayDistrict,"[MarMayNational, AnnualNational]",0.712557
2,Adilabad,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.702495
3,Adilabad,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.903438
4,Adilabad,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.365307
...,...,...,...,...
2680,North Dinajpur,Jan-FebDistrict,"[JanFebNational, AnnualNational]",0.588706
2681,North Dinajpur,Mar-MayDistrict,"[MarMayNational, AnnualNational]",0.925327
2682,North Dinajpur,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.151325
2683,North Dinajpur,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.683304
2684,North Dinajpur,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.460682

In [46]:
print("Random Forest")
print("Minimum RMSE: ", np.min(results_df['RMSE']))
print("Maximum RMSE: ", np.max(results_df['RMSE']))
print("Mean RMSE: ", np.mean(results_df['RMSE']))
print("Median RMSE: ", np.median(results_df['RMSE']))
print()
print("Total Count of RMSE:", results_df['RMSE'].count())
print("Count of RMSE less than 1:", (results_df['RMSE'] < 1).sum())
print("Count of RMSE greater than 1:", (results_df['RMSE'] >= 1).sum())
print("Count of RMSE between 1 and 2:", ((results_df['RMSE'] > 1) & (results_df['RMSE'] <= 2)).sum())
print("Count of RMSE greater than 2:", (results_df['RMSE'] > 2).sum())

Random Forest
Minimum RMSE:  0.03519631337227535
Maximum RMSE:  2.0979978543646673
Mean RMSE:  0.6077541661335549
Median RMSE:  0.5677090621992346

Total Count of RMSE: 2685
Count of RMSE less than 1: 2425
Count of RMSE greater than 1: 260
Count of RMSE between 1 and 2: 259
Count of RMSE greater than 2: 1

In [47]:
""" Extreme Gradient Boosting"""

' Extreme Gradient Boosting'

In [48]:
# Applying XGBoost for each district separately

from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

feature_map = {
    "Jan-FebDistrict": ["JanFebNational", "AnnualNational"],
    "Mar-MayDistrict": ["MarMayNational", "AnnualNational"],
    "Jun-SepDistrict": ["JunSepNational", "AnnualNational"],
    "Oct-DecDistrict": ["OctDecNational", "AnnualNational"],
    "AnnualDistrict": ["JanFebNational", "MarMayNational", "JunSepNational", "OctDecNational", "AnnualNational"]
}

results = []

for district_name in monthly_district_temp["District"].unique():
    df_district = monthly_district_temp[monthly_district_temp["District"] == district_name]
    
    df_merged = df_district.merge(final_annual_temp, on="Year", how="inner")

    for target_col, features in feature_map.items():
        X = df_merged[features]
        y = df_merged[target_col]

        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, shuffle=True, random_state=42
        )
        
        model = XGBRegressor(
            n_estimators=200,
            learning_rate=0.1,
            max_depth=4,
            subsample=0.8,
            colsample_bytree=0.8,
            random_state=42,
            n_jobs=-1
        )
        model.fit(X_train, y_train)
        
        y_pred = model.predict(X_test)
        rmse = np.sqrt(mean_squared_error(y_test, y_pred))
        
        results.append({
            "District": district_name,
            "Target": target_col,
            "Features": features,
            "RMSE": rmse
        })

results_df = pd.DataFrame(results)

In [49]:
import sys
!{sys.executable} -m pip install xgboost

Requirement already satisfied: xgboost in c:\users\hp\anaconda3\lib\site-packages (3.0.5)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.15.3)

In [50]:
results_df

,District,Target,Features,RMSE
0,Adilabad,Jan-FebDistrict,"[JanFebNational, AnnualNational]",1.198001
1,Adilabad,Mar-MayDistrict,"[MarMayNational, AnnualNational]",0.598169
2,Adilabad,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.826946
3,Adilabad,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.718222
4,Adilabad,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.305180
...,...,...,...,...
2680,North Dinajpur,Jan-FebDistrict,"[JanFebNational, AnnualNational]",0.561086
2681,North Dinajpur,Mar-MayDistrict,"[MarMayNational, AnnualNational]",1.090574
2682,North Dinajpur,Jun-SepDistrict,"[JunSepNational, AnnualNational]",0.086405
2683,North Dinajpur,Oct-DecDistrict,"[OctDecNational, AnnualNational]",0.803143
2684,North Dinajpur,AnnualDistrict,"[JanFebNational, MarMayNational, JunSepNationa...",0.506888

In [51]:
print("Extreme Gradient Boosting")
print("Minimum RMSE: ", np.min(results_df['RMSE']))
print("Maximum RMSE: ", np.max(results_df['RMSE']))
print("Mean RMSE: ", np.mean(results_df['RMSE']))
print("Median RMSE: ", np.median(results_df['RMSE']))
print()
print("Total Count of RMSE:", results_df['RMSE'].count())
print("Count of RMSE less than 1:", (results_df['RMSE'] < 1).sum())
print("Count of RMSE greater than 1:", (results_df['RMSE'] >= 1).sum())
print("Count of RMSE between 1 and 2:", ((results_df['RMSE'] > 1) & (results_df['RMSE'] <= 2)).sum())
print("Count of RMSE greater than 2:", (results_df['RMSE'] > 2).sum())

Extreme Gradient Boosting
Minimum RMSE:  0.03360416334912059
Maximum RMSE:  1.7231065750285073
Mean RMSE:  0.6163154777930697
Median RMSE:  0.5824690357716763

Total Count of RMSE: 2685
Count of RMSE less than 1: 2368
Count of RMSE greater than 1: 317
Count of RMSE between 1 and 2: 317
Count of RMSE greater than 2: 0

In [52]:
import joblib
import os

MODEL_DIR = 'temp_imputation_models' 

def load_district_model(district, target_col):
    filename = f"{district}_{target_col}_xgb_model.joblib"
    filepath = os.path.join(MODEL_DIR, filename)
    
    if os.path.exists(filepath):
        return joblib.load(filepath)
    else:
        print(f"Error: Model file not found for {district} - {target_col}")
        return None

In [53]:
annual_temp.columns

Index(['YEAR', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC'], dtype='object')

In [54]:
rename_map = {
    'YEAR': 'Year',
    'ANNUAL': 'AnnualNational',
    'JAN-FEB': 'JanFebNational',
    'MAR-MAY': 'MarMayNational',
    'JUN-SEP': 'JunSepNational',
    'OCT-DEC': 'OctDecNational'
}
prediction_years = list(range(2014, 2020)) 
renamed_data = annual_temp.rename(columns=rename_map).copy()
renamed_data['Year'] = pd.to_numeric(renamed_data['Year'], errors='coerce').astype('int64')
prediction_temp = renamed_data[
    renamed_data['Year'].isin(prediction_years)
].reset_index(drop=True)

print("\nPrediction Temp (2014-2019) Head:")
print(prediction_temp.head())

Prediction Temp (2014-2019) Head:
   Year AnnualNational JanFebNational MarMayNational JunSepNational  \
0  2014          25.73          20.53          27.62          28.57
1  2015          25.92          21.05          27.63          28.46
2  2016           26.2           21.8          28.64          28.35
3  2017          26.04          21.37           28.2          28.39
4  2018           25.9          21.24          28.16          28.28

  OctDecNational
0          23.54
1          24.08
2          23.84
3          23.84
4          23.55

In [55]:
all_districts = monthly_district_temp['District'].unique()
national_cols_needed = ['Year', 'JanFebNational', 'MarMayNational', 
                        'JunSepNational', 'OctDecNational', 'AnnualNational']
prediction_df = pd.DataFrame({
    'Year': pd.Series(prediction_years).repeat(len(all_districts)),
    'District': pd.Series(all_districts).tolist() * len(prediction_years)
})
prediction_df = prediction_df.sort_values(by=['Year', 'District']).reset_index(drop=True)
prediction_df['Year'] = prediction_df['Year'].astype('int64')
national_data = prediction_temp[prediction_temp['Year'].isin(prediction_years)][national_cols_needed]
prediction_df_merged = pd.merge(
    prediction_df,
    national_data,
    on='Year',
    how='left' 
)
print("Prediction Dataframe Head (Features Ready for XGBoost):")
print(prediction_df_merged.head())

Prediction Dataframe Head (Features Ready for XGBoost):
   Year    District JanFebNational MarMayNational JunSepNational  \
0  2014    Adilabad          20.53          27.62          28.57
1  2014        Agra          20.53          27.62          28.57
2  2014   Ahmadabad          20.53          27.62          28.57
3  2014  Ahmadnagar          20.53          27.62          28.57
4  2014      Aizwal          20.53          27.62          28.57

  OctDecNational AnnualNational
0          23.54          25.73
1          23.54          25.73
2          23.54          25.73
3          23.54          25.73
4          23.54          25.73

In [56]:
import numpy as np
target_cols = [
    'Jan-FebDistrict', 
    'Mar-MayDistrict', 
    'Jun-SepDistrict', 
    'Oct-DecDistrict', 
    'AnnualDistrict'
]

final_prediction_input = prediction_df_merged.copy()
for col in target_cols:
    final_prediction_input[col] = np.nan

print("\nFirst five rows with new columns:")
print(final_prediction_input.head())

First five rows with new columns:
   Year    District JanFebNational MarMayNational JunSepNational  \
0  2014    Adilabad          20.53          27.62          28.57
1  2014        Agra          20.53          27.62          28.57
2  2014   Ahmadabad          20.53          27.62          28.57
3  2014  Ahmadnagar          20.53          27.62          28.57
4  2014      Aizwal          20.53          27.62          28.57

  OctDecNational AnnualNational  Jan-FebDistrict  Mar-MayDistrict  \
0          23.54          25.73              NaN              NaN
1          23.54          25.73              NaN              NaN
2          23.54          25.73              NaN              NaN
3          23.54          25.73              NaN              NaN
4          23.54          25.73              NaN              NaN

   Jun-SepDistrict  Oct-DecDistrict  AnnualDistrict
0              NaN              NaN             NaN
1              NaN              NaN             NaN
2              NaN              NaN             NaN
3              NaN              NaN             NaN
4              NaN              NaN             NaN

In [57]:
import joblib
import os
import pandas as pd
from xgboost import XGBRegressor

MODEL_DIR = 'temp_imputation_models'
os.makedirs(MODEL_DIR, exist_ok=True)

feature_map = {
    "Jan-FebDistrict": ["Year", "JanFebNational", "AnnualNational"],
    "Mar-MayDistrict": ["Year", "MarMayNational", "AnnualNational"],
    "Jun-SepDistrict": ["Year", "JunSepNational", "AnnualNational"],
    "Oct-DecDistrict": ["Year", "OctDecNational", "AnnualNational"],
    "AnnualDistrict": ["Year", "JanFebNational", "MarMayNational", "JunSepNational", "OctDecNational", "AnnualNational"]
}

all_districts = monthly_district_temp['District'].unique() 
for district_name in all_districts:
    df_district = monthly_district_temp[monthly_district_temp["District"] == district_name].copy()
    df_merged = df_district.merge(final_annual_temp, on="Year", how="inner")

    for target_col, features in feature_map.items():
        if len(df_merged) < 2:
             continue
        
        X = df_merged[features]
        y = df_merged[target_col]

        model = XGBRegressor(
            n_estimators=200,
            learning_rate=0.1,
            max_depth=4,
            subsample=0.8,
            colsample_bytree=0.8,
            random_state=42,
            n_jobs=-1
        )
        model.fit(X, y)
        filename = f"{district_name}_{target_col}_xgb_model.joblib"
        filepath = os.path.join(MODEL_DIR, filename)
        
        joblib.dump(model, filepath)

In [58]:
national_temp_features = [
    'JanFebNational', 
    'MarMayNational', 
    'JunSepNational', 
    'OctDecNational', 
    'AnnualNational'
]

for col in national_temp_features:
    final_prediction_input[col] = pd.to_numeric(
        final_prediction_input[col], 
        errors='coerce'
    ).astype(np.float64)

for district in all_districts:
    district_data = final_prediction_input.loc[
        final_prediction_input['District'] == district
    ].copy()

    for target_col, features in feature_map.items():
        model = load_district_model(district, target_col)
        
        if model is not None:
            X_predict = district_data[features]
            predicted_values = model.predict(X_predict)
            final_prediction_input.loc[
                final_prediction_input['District'] == district, 
                target_col
            ] = predicted_values

In [59]:
final_prediction_input.head()

,Year,District,JanFebNational,MarMayNational,JunSepNational,OctDecNational,AnnualNational,Jan-FebDistrict,Mar-MayDistrict,Jun-SepDistrict,Oct-DecDistrict,AnnualDistrict
0,2014,Adilabad,20.53,27.62,28.57,23.54,25.73,24.550779,32.282757,28.932072,24.729130,27.749739
1,2014,Agra,20.53,27.62,28.57,23.54,25.73,16.675758,29.891964,31.536232,22.276070,26.295731
2,2014,Ahmadabad,20.53,27.62,28.57,23.54,25.73,20.539764,29.990334,30.008247,26.095259,27.434259
3,2014,Ahmadnagar,20.53,27.62,28.57,23.54,25.73,22.374084,28.917923,26.552271,24.078920,25.738596
4,2014,Aizwal,20.53,27.62,28.57,23.54,25.73,20.076572,26.526918,27.676773,23.584839,25.070879

In [60]:
for col in target_cols:
    final_prediction_input[col] = final_prediction_input[col].round(2)

print(final_prediction_input.head())

   Year    District  JanFebNational  MarMayNational  JunSepNational  \
0  2014    Adilabad           20.53           27.62           28.57
1  2014        Agra           20.53           27.62           28.57
2  2014   Ahmadabad           20.53           27.62           28.57
3  2014  Ahmadnagar           20.53           27.62           28.57
4  2014      Aizwal           20.53           27.62           28.57

   OctDecNational  AnnualNational  Jan-FebDistrict  Mar-MayDistrict  \
0           23.54           25.73            24.55            32.28
1           23.54           25.73            16.68            29.89
2           23.54           25.73            20.54            29.99
3           23.54           25.73            22.37            28.92
4           23.54           25.73            20.08            26.53

   Jun-SepDistrict  Oct-DecDistrict  AnnualDistrict
0            28.93            24.73           27.75
1            31.54            22.28           26.30
2            30.01            26.10           27.43
3            26.55            24.08           25.74
4            27.68            23.58           25.07

In [61]:
final_prediction_input.isna().sum()

Year               0
District           0
JanFebNational     0
MarMayNational     0
JunSepNational     0
OctDecNational     0
AnnualNational     0
Jan-FebDistrict    0
Mar-MayDistrict    0
Jun-SepDistrict    0
Oct-DecDistrict    0
AnnualDistrict     0
dtype: int64

In [62]:
import pandas as pd

START_YEAR = 1997
END_YEAR = 2019
district_cols = ['Year', 'District'] + target_cols 

historical_district_temp_filtered = monthly_district_temp[
    (monthly_district_temp['Year'] >= START_YEAR) & 
    (monthly_district_temp['Year'] <= 2013)
][district_cols]

predicted_district_data = final_prediction_input[['Year', 'District'] + target_cols]
full_district_temp_series = pd.concat([
    historical_district_temp_filtered, 
    predicted_district_data
], ignore_index=True)

national_cols = ['Year', 'JanFebNational', 'MarMayNational', 'JunSepNational', 'OctDecNational', 'AnnualNational']
national_temp_filtered = renamed_data[
    (renamed_data['Year'] >= START_YEAR) & 
    (renamed_data['Year'] <= END_YEAR)
][national_cols]

final_master_temp_df = pd.merge(
    full_district_temp_series,
    national_temp_filtered,
    on='Year',
    how='left'
)

print(final_master_temp_df.head(5))
print(final_master_temp_df.tail(5))

output_file = 'final_master_temp_1997_2019.csv'
final_master_temp_df.to_csv(
    output_file,
    index=False, 
)

   Year  District  Jan-FebDistrict  Mar-MayDistrict  Jun-SepDistrict  \
0  1997  Adilabad          23.8270        32.658667         28.71575
1  1998  Adilabad          24.2870        31.646333         29.42925
2  1999  Adilabad          25.0765        32.901667         28.44275
3  2000  Adilabad          23.8420        31.923333         27.74225
4  2001  Adilabad          24.2160        30.540000         27.45900

   Oct-DecDistrict  AnnualDistrict JanFebNational MarMayNational  \
0        24.708000       27.884750           20.2          27.23
1        24.529333       27.901500          20.83          27.82
2        23.691000       27.808500          20.81          27.81
3        24.013667       27.205333          20.53          27.63
4        24.400667       26.924167          20.78          27.73

  JunSepNational OctDecNational AnnualNational
0          28.13          23.22          25.35
1          28.31          23.43          25.72
2          27.92          23.37          25.57
3          27.85          23.65          25.53
4          27.92          23.61           25.6
       Year     District  Jan-FebDistrict  Mar-MayDistrict  Jun-SepDistrict  \
12346  2019        Wokha            16.75            22.59            25.66
12347  2019  Yamunanagar            15.24            28.09            30.85
12348  2019        Yanam            25.40            30.91            30.28
12349  2019     Yavatmal            24.14            32.44            28.50
12350  2019    Zunheboto            13.82            19.58            22.72

       Oct-DecDistrict  AnnualDistrict JanFebNational MarMayNational  \
12346            20.34           22.07          20.71             28
12347            21.08           25.08          20.71             28
12348            26.10           28.71          20.71             28
12349            24.46           27.63          20.71             28
12350            17.54           19.17          20.71             28

      JunSepNational OctDecNational AnnualNational
12346           28.6          23.49          25.86
12347           28.6          23.49          25.86
12348           28.6          23.49          25.86
12349           28.6          23.49          25.86
12350           28.6          23.49          25.86

In [63]:
final_master_temp_df['District'].unique()

array(['Adilabad', 'Anantapur', 'Chittoor', 'Cuddapah', 'East Godavari',
       'Guntur', 'Hyderabad', 'Karimnagar', 'Khammam', 'Krishna',
       'Kurnool', 'Mahbubnagar', 'Medak', 'Nalgonda', 'Nellore',
       'Nizamabad', 'Prakasam', 'Rangareddi', 'Srikakulam',
       'Vishakhapatnam', 'Vizianagaram', 'Warangal', 'West Godavari',
       'Changlang', 'Dibang Valley', 'East Kameng', 'East Siang', 'Lohit',
       'Lower Subansiri', 'Tawang', 'Tirap', 'Upper Subansiri',
       'West Kameng', 'West Siang', 'Barpeta', 'Cachar', 'Darrang',
       'Dhemaji', 'Dhubri', 'Dibrugarh', 'Golaghat', 'Golapara',
       'Hailakandi', 'Jorhat', 'Kamrup', 'Karbi Anglong', 'Karimganj',
       'Kokrajhar', 'Lakhimpur', 'Nagaon', 'Nalbari',
       'North Cachar Hills', 'Sibsagar', 'Sonitpur', 'Tinsukia', 'Araria',
       'Banka', 'Begusarai', 'Bhagalpur', 'Bhojpur', 'Buxar', 'Darbhanga',
       'Gaya', 'Gopalganj', 'Jamui', 'Jehanabad', 'Kaimur', 'Katihar',
       'Khagaria', 'Kishanganj', 'Lakhisarai', 'Madhepura', 'Madhubani',
       'Munger', 'Muzaffarpur', 'Nalanda', 'Nawada', 'Paschim Champaran',
       'Patna', 'Purba Champaran', 'Purnia', 'Rohtas', 'Saharsa',
       'Samastipur', 'Saran', 'Sheikhpura', 'Sheohar', 'Sitamarhi',
       'Siwan', 'Supaul', 'Vaishali', 'Chandigarh', 'Bastar', 'Bilaspur',
       'Dantewada', 'Dhamtari', 'Durg', 'Janjgir', 'Jashpur', 'Kanker',
       'Kawardha', 'Korba', 'Koriya', 'Mahasamund', 'Raigarh', 'Raipur',
       'Rajnandgaon', 'Surguja', 'Dadra & Nagar Haveli', 'New Delhi',
       'Ahmadabad', 'Amreli', 'Anand', 'Banas Kantha', 'Bharuch',
       'Bhavnagar', 'Dohad', 'Gandhinagar', 'Kachchh', 'Kheda',
       'Mahesana', 'Narmada', 'Panch Mahals', 'Patan', 'Rajkot',
       'Sabar Kantha', 'Surat', 'Surendranagar', 'The Dangs', 'Vadodara',
       'Ambala', 'Bhiwani', 'Faridabad', 'Fatehabad', 'Gurgaon', 'Hisar',
       'Jhajjar', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra',
       'Mahendragarh', 'Panchkula', 'Panipat', 'Rewari', 'Rohtak',
       'Sirsa', 'Sonipat', 'Yamunanagar', 'Chamba', 'Kangra', 'Kinnaur',
       'Kullu', 'Lahul & Spiti', 'Mandi', 'Shimla', 'Sirmaur', 'Solan',
       'Una', 'Anantanag', 'Badgam', 'Baramula', 'Doda', 'Jammu',
       'Kargil', 'Kathua', 'Kupwara', 'Leh', 'Pulwama', 'Punch',
       'Rajauri', 'Srinagar', 'Udhampur', 'Bokaro', 'Chatra', 'Deoghar',
       'Dhanbad', 'Dumka', 'Garwah', 'Giridih', 'Godda', 'Gumla',
       'Hazaribagh', 'Kodarma', 'Lohardaga', 'Pakaur', 'Palamu',
       'West Singbhum', 'East Singbhum', 'Ranchi', 'Sahibganj',
       'Bagalkot', 'Bangalore', 'Bangalore Rural', 'Belgaum', 'Bellary',
       'Bidar', 'Bijapur', 'Chamarajanagar', 'Chikmangalur',
       'Chitradurga', 'Davanagere', 'Dharwad', 'Gadag', 'Gulbarga',
       'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal', 'Mandya',
       'Mysore', 'Raichur', 'Shimoga', 'Tumkur', 'Idukki', 'Balaghat',
       'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Chhatarpur', 'Chhindwara',
       'Damoh', 'Datia', 'Dewas', 'Dhar', 'Dindori', 'East Nimar', 'Guna',
       'Gwalior', 'Harda', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua',
       'Katni', 'Mandla', 'Mandsaur', 'Morena', 'Narsimhapur', 'Neemuch',
       'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa', 'Sagar', 'Satna',
       'Sehore', 'Seoni', 'Shahdol', 'Shajapur', 'Sheopur', 'Shivpuri',
       'Sidhi', 'Tikamgarh', 'Ujjain', 'Umaria', 'Vidisha', 'West Nimar',
       'Ahmadnagar', 'Akola', 'Amravati', 'Bhandara', 'Bid', 'Buldana',
       'Chandrapur', 'Dhule', 'Gadchiroli', 'Gondiya', 'Hingoli',
       'Jalgaon', 'Jalna', 'Kolhapur', 'Latur', 'Nagpur', 'Nanded',
       'Nandurbar', 'Nashik', 'Osmanabad', 'Parbhani', 'Pune', 'Sangli',
       'Satara', 'Solapur', 'Wardha', 'Washim', 'Yavatmal', 'Bishnupur',
       'Chandel', 'Churachandpur', 'Imphal', 'Imphal East', 'Imphal West',
       'Senapati', 'Tamenglong', 'Thoubal', 'Ukhrul', 'East Garo Hills',
       'East Khasi Hills', 'Jaintia Hills', 'West Garo Hills',
       'West Khasi Hills', 'Aizwal', 'Champhai', 'Kolasib', 'Lawngtlai',
       'Lunglei', 'Mamit', 'Saiha', 'Kohima', 'Mokokchung', 'Mon', 'Phek',
       'Tuensang', 'Wokha', 'Zunheboto', 'Anugul', 'Balangir',
       'Baleshwar', 'Bargarh', 'Baudh', 'Bhadrak', 'Cuttack', 'Debagarh',
       'Dhenkanal', 'Gajapati', 'Ganjam', 'Jagatsinghapur', 'Jajapur',
       'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Kendujhar',
       'Khordha', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'Nabarangapur',
       'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Sonapur',
       'Sundargarh', 'Karaikal', 'Pondicherry', 'Yanam', 'Amritsar',
       'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Firozpur', 'Gurdaspur',
       'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Mansa',
       'Moga', 'Muktsar', 'Nawanshahr', 'Patiala', 'Rupnagar', 'Sangrur',
       'Ajmer', 'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur',
       'Bhilwara', 'Bikaner', 'Bundi', 'Chittaurgarh', 'Churu', 'Dausa',
       'Dhaulpur', 'Dungarpur', 'Ganganagar', 'Hanumangarh', 'Jaipur',
       'Jaisalmer', 'Jalor', 'Jhalawar', 'Jhunjhunun', 'Jodhpur',
       'Karauli', 'Kota', 'Nagaur', 'Pali', 'Rajsamand', 'Sawai Madhopur',
       'Sikar', 'Sirohi', 'Tonk', 'Udaipur', 'East Sikkim',
       'North Sikkim', 'South Sikkim', 'West Sikkim', 'Ariyalur',
       'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kancheepuram', 'Karur', 'Madurai', 'Nagapattinam',
       'Namakkal', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Salem',
       'Sivaganga', 'Thanjavur', 'The Nilgiris', 'Theni', 'Thiruvallur',
       'Thiruvarur', 'Thoothukkudi', 'Tiruchirapalli', 'Tirunelveli',
       'Tiruvannamalai', 'Vellore', 'Viluppuram', 'Virudhunagar',
       'Dhalai', 'North Tripura', 'South Tripura', 'West Tripura', 'Agra',
       'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Auraiya', 'Azamgarh',
       'Baghpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Barabanki',
       'Bareilly', 'Basti', 'Bijnor', 'Budaun', 'Bulandshahar',
       'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad',
       'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar',
       'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hardoi', 'Hathras',
       'Jalaun', 'Jaunpur', 'Jhansi', 'Jyotiba Phule Nagar', 'Kannauj',
       'Kanpur Dehat', 'Kanpur Nagar', 'Kaushambi', 'Kheri', 'Kushinagar',
       'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri',
       'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad',
       'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Rae Bareli', 'Rampur',
       'Saharanpur', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Shahjahanpur', 'Shrawasti', 'Siddharth Nagar', 'Sitapur',
       'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi', 'Almora',
       'Bageshwar', 'Chamoli', 'Champawat', 'Dehradun', 'Garhwal',
       'Hardwar', 'Nainital', 'Pithoragarh', 'Rudraprayag',
       'Tehri Garhwal', 'Udham Singh Nagar', 'Uttarkashi', 'Bankura',
       'Burdwan', 'Birbhum', 'Cooch Behar', 'South Dinajpur',
       'Darjeeling', 'Howrah', 'Hooghly', 'Jalpaiguri', 'Kolkata',
       'Malda', 'Midnapore', 'Murshidabad', 'Nadia', 'North 24 Parganas',
       'Purulia', 'South 24 Parganas', 'North Dinajpur'], dtype=object)

In [64]:
district_state_mapping = pd.read_csv(r'C:\DATA ANALYSIS AND DATA SCIENCE PROJECTS\AgriGrow\data\clean data\district_state_mapping.csv')
district_state_mapping.head()

        District           State
0       Adilabad  Andhra Pradesh
1      Anantapur  Andhra Pradesh
2       Chittoor  Andhra Pradesh
3       Cuddapah  Andhra Pradesh
4  East Godavari  Andhra Pradesh

In [65]:
final_master_temp_df.columns

Index(['Year', 'District', 'Jan-FebDistrict', 'Mar-MayDistrict',
       'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict',
       'JanFebNational', 'MarMayNational', 'JunSepNational', 'OctDecNational',
       'AnnualNational'],
      dtype='object')

In [66]:
final_master_temp_df = final_master_temp_df.merge(
    district_state_mapping,
    how='left',
    left_on='District',     
    right_on='District'
)
print(final_master_temp_df.head())

   Year  District  Jan-FebDistrict  Mar-MayDistrict  Jun-SepDistrict  \
0  1997  Adilabad          23.8270        32.658667         28.71575
1  1998  Adilabad          24.2870        31.646333         29.42925
2  1999  Adilabad          25.0765        32.901667         28.44275
3  2000  Adilabad          23.8420        31.923333         27.74225
4  2001  Adilabad          24.2160        30.540000         27.45900

   Oct-DecDistrict  AnnualDistrict JanFebNational MarMayNational  \
0        24.708000       27.884750           20.2          27.23
1        24.529333       27.901500          20.83          27.82
2        23.691000       27.808500          20.81          27.81
3        24.013667       27.205333          20.53          27.63
4        24.400667       26.924167          20.78          27.73

  JunSepNational OctDecNational AnnualNational           State
0          28.13          23.22          25.35  Andhra Pradesh
1          28.31          23.43          25.72  Andhra Pradesh
2          27.92          23.37          25.57  Andhra Pradesh
3          27.85          23.65          25.53  Andhra Pradesh
4          27.92          23.61           25.6  Andhra Pradesh

In [67]:
final_master_temp_df.columns

Index(['Year', 'District', 'Jan-FebDistrict', 'Mar-MayDistrict',
       'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict',
       'JanFebNational', 'MarMayNational', 'JunSepNational', 'OctDecNational',
       'AnnualNational', 'State'],
      dtype='object')

In [ ]:
columns_to_drop = ['JanFebNational', 'MarMayNational', 'JunSepNational', 'OctDecNational',
       'AnnualNational']
final_master_temp_df= final_master_temp_df.drop(columns= columns_to_drop)

In [72]:
final_master_temp_df.columns

Index(['Year', 'District', 'Jan-FebDistrict', 'Mar-MayDistrict',
       'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict', 'State'],
      dtype='object')

In [73]:
season_month_mapping = {
    'Rabi': ['Jan-FebDistrict', 'Mar-MayDistrict', 'Oct-DecDistrict'],  
    'Kharif': ['Jun-SepDistrict'],
    'Whole Year': ['AnnualDistrict'],
    'Autumn': ['Oct-DecDistrict'],
    'Summer': ['Mar-MayDistrict'],
    'Winter': ['Jan-FebDistrict']
}

state_year_grouped = final_master_temp_df.groupby(['State', 'Year']).mean(numeric_only=True).reset_index()

for season, months in season_month_mapping.items():
    valid_months = [col for col in months if col in state_year_grouped.columns]
    state_year_grouped[season] = state_year_grouped[valid_months].mean(axis=1)

month_cols = ['Jan-FebDistrict', 'Mar-MayDistrict', 'Jun-SepDistrict', 'Oct-DecDistrict', 'AnnualDistrict']
state_year_grouped.drop(columns=month_cols, inplace=True)
state_year_grouped.to_csv('statewise_seasonal_temperature.csv', index=False)

print(state_year_grouped.head())

            State  Year       Rabi     Kharif  Whole Year     Autumn  \
0  Andhra Pradesh  1997  26.713014  28.508207   27.553605  25.321101
1  Andhra Pradesh  1998  26.433572  28.992120   27.476565  24.864667
2  Andhra Pradesh  1999  26.880756  28.081717   27.445714  24.636623
3  Andhra Pradesh  2000  26.461454  27.729076   27.074337  24.681058
4  Andhra Pradesh  2001  26.416085  27.759522   27.010326  24.823594

      Summer     Winter
0  31.011246  23.806696
1  30.284203  24.151848
2  31.100536  24.905109
3  30.525957  24.177348
4  29.765725  24.658935