In [ ]:
import pandas as pd
rainfall_df = pd.read_csv(r'C:\DATA ANALYSIS AND DATA SCIENCE PROJECTS\CropWise\data\Raw Data\rainfall_data.csv')
rainfall_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [35]:
rainfall_df['YEAR'][5]

np.int64(1906)

In [36]:
rainfall_df.columns

Index(['SUBDIVISION', 'YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'JF', 'MAM', 'JJAS',
       'OND'],
      dtype='object')

In [37]:
rainfall_df = rainfall_df[(rainfall_df['YEAR'] >= 1997) & (rainfall_df['YEAR'] <= 2017)]
columns_to_drop = ['JF', 'MAM', 'JJAS', 'OND']
rainfall_df = rainfall_df.drop(columns= columns_to_drop)
rainfall_df.head(1)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
91,Andaman & Nicobar Islands,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1

In [38]:
rainfall_df = rainfall_df[rainfall_df['SUBDIVISION'] != 'Andaman & Nicobar Islands']
rainfall_df.reset_index()
rainfall_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
190,Arunachal Pradesh,1997,26.2,68.5,158.5,94.7,212.6,548.0,395.2,237.0,403.5,58.5,45.9,26.3,2274.9
191,Arunachal Pradesh,1998,26.7,78.8,193.6,125.0,275.0,839.8,823.8,807.0,236.8,187.2,20.5,2.5,3616.7
192,Arunachal Pradesh,1999,7.9,6.1,40.4,159.6,343.2,450.0,376.9,438.1,254.0,207.9,28.3,4.3,2316.6
193,Arunachal Pradesh,2000,54.1,47.1,139.9,293.8,267.2,459.8,395.4,387.4,407.4,81.3,53.9,9.6,2596.8
194,Arunachal Pradesh,2001,53.1,66.6,134.9,229.9,195.6,277.2,302.6,279.9,288.1,173.8,19.3,14.9,2036.0

In [39]:
rainfall_df.isna().sum()

SUBDIVISION    0
YEAR           0
JAN            1
FEB            1
MAR            0
APR            0
MAY            0
JUN            0
JUL            1
AUG            0
SEP            0
OCT            0
NOV            1
DEC            1
ANNUAL         3
dtype: int64

In [40]:
rainfall_df.update(
    rainfall_df.groupby('SUBDIVISION').transform(lambda x: x.fillna(x.mean()))
)

In [41]:
rainfall_df.isna().sum()

SUBDIVISION    0
YEAR           0
JAN            0
FEB            0
MAR            0
APR            0
MAY            0
JUN            0
JUL            0
AUG            0
SEP            0
OCT            0
NOV            0
DEC            0
ANNUAL         0
dtype: int64

In [42]:
season_month_mapping = {
    'Rabi': ['JAN', 'FEB', 'MAR'],                
    'Kharif': ['JUN', 'JUL', 'AUG', 'SEP'],      
    'Whole Year': ['ANNUAL'],                   
    'Autumn': ['OCT', 'NOV'],                     
    'Summer': ['APR', 'MAY'],                     
    'Winter': ['DEC', 'JAN', 'FEB']               
}

for season, months in season_month_mapping.items():
    valid_months = [col for col in months if col in rainfall_df.columns]
    rainfall_df[season] = rainfall_df[valid_months].sum(axis=1)

month_cols = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
rainfall_df.drop(columns=month_cols, inplace=True)
rainfall_df.rename(columns= {'SUBDIVISION' : 'State', 'YEAR' : 'Year'}, inplace= True)
print(rainfall_df.head())

                 State  Year  ANNUAL   Rabi  Kharif  Whole Year  Autumn  \
190  Arunachal Pradesh  1997  2274.9  253.2  1583.7      2274.9   104.4
191  Arunachal Pradesh  1998  3616.7  299.1  2707.4      3616.7   207.7
192  Arunachal Pradesh  1999  2316.6   54.4  1519.0      2316.6   236.2
193  Arunachal Pradesh  2000  2596.8  241.1  1650.0      2596.8   135.2
194  Arunachal Pradesh  2001  2036.0  254.6  1147.8      2036.0   193.1

     Summer  Winter
190   307.3   121.0
191   400.0   108.0
192   502.8    18.3
193   561.0   110.8
194   425.5   134.6

In [43]:
rainfall_df.sort_values(['State', 'Year'], inplace=True)

full_years = range(1997, 2020)

def fill_missing_years(group):
    group = group.set_index('Year').reindex(full_years)
    group['State'] = group['State'].ffill()  
    group = group.interpolate(method='linear')  
    return group.reset_index().rename(columns={'index': 'Year'})

rainfall_df = rainfall_df.groupby('State', group_keys=False).apply(fill_missing_years)
print(rainfall_df.groupby('State')['Year'].agg(['min', 'max']))

rainfall_df.reset_index(drop=True, inplace=True)

                                     min   max
State
Arunachal Pradesh                   1997  2019
Assam & Meghalaya                   1997  2019
Bihar                               1997  2019
Chhattisgarh                        1997  2019
Coastal Andhra Pradesh              1997  2019
Coastal Karnataka                   1997  2019
East Madhya Pradesh                 1997  2019
East Rajasthan                      1997  2019
East Uttar Pradesh                  1997  2019
Gangetic West Bengal                1997  2019
Gujarat Region                      1997  2019
Haryana Delhi & Chandigarh          1997  2019
Himachal Pradesh                    1997  2019
Jammu & Kashmir                     1997  2019
Jharkhand                           1997  2019
Kerala                              1997  2019
Konkan & Goa                        1997  2019
Lakshadweep                         1997  2019
Madhya Maharashtra                  1997  2019
Matathwada                          1997  2019
Naga Mani Mizo Tripura              1997  2019
North Interior Karnataka            1997  2019
Orissa                              1997  2019
Punjab                              1997  2019
Rayalseema                          1997  2019
Saurashtra & Kutch                  1997  2019
South Interior Karnataka            1997  2019
Sub Himalayan West Bengal & Sikkim  1997  2019
Tamil Nadu                          1997  2019
Telangana                           1997  2019
Uttarakhand                         1997  2019
Vidarbha                            1997  2019
West Madhya Pradesh                 1997  2019
West Rajasthan                      1997  2019
West Uttar Pradesh                  1997  2019

C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:8: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  group = group.interpolate(method='linear')
C:\Users\Hp\AppData\Local\Temp\ipykernel_31840\859356099.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rainfall_df = rainfall_df.groupby('State', group_keys=False).apply(fill_missing_years)

In [44]:
rainfall_df['State'].unique()

array(['Arunachal Pradesh', 'Assam & Meghalaya', 'Bihar', 'Chhattisgarh',
       'Coastal Andhra Pradesh', 'Coastal Karnataka',
       'East Madhya Pradesh', 'East Rajasthan', 'East Uttar Pradesh',
       'Gangetic West Bengal', 'Gujarat Region',
       'Haryana Delhi & Chandigarh', 'Himachal Pradesh',
       'Jammu & Kashmir', 'Jharkhand', 'Kerala', 'Konkan & Goa',
       'Lakshadweep', 'Madhya Maharashtra', 'Matathwada',
       'Naga Mani Mizo Tripura', 'North Interior Karnataka', 'Orissa',
       'Punjab', 'Rayalseema', 'Saurashtra & Kutch',
       'South Interior Karnataka', 'Sub Himalayan West Bengal & Sikkim',
       'Tamil Nadu', 'Telangana', 'Uttarakhand', 'Vidarbha',
       'West Madhya Pradesh', 'West Rajasthan', 'West Uttar Pradesh'],
      dtype=object)

In [45]:
state_to_imd = {
    'Andhra Pradesh': ['Coastal Andhra Pradesh', 'Rayalseema'],
    'Arunachal Pradesh': ['Arunachal Pradesh'],
    'Assam': ['Assam & Meghalaya'],
    'Bihar': ['Bihar'],
    'Chhattisgarh': ['Chhattisgarh'],
    'Goa': ['Konkan & Goa'],
    'Gujarat': ['Gujarat Region', 'Saurashtra & Kutch'],
    'Haryana': ['Haryana Delhi & Chandigarh'],
    'Himachal Pradesh': ['Himachal Pradesh'],
    'Jammu and Kashmir': ['Jammu & Kashmir'],
    'Jharkhand': ['Jharkhand'],
    'Karnataka': ['Coastal Karnataka', 'North Interior Karnataka', 'South Interior Karnataka'],
    'Kerala': ['Kerala'],
    'Madhya Pradesh': ['East Madhya Pradesh', 'West Madhya Pradesh'],
    'Maharashtra': ['Madhya Maharashtra', 'Matathwada', 'Vidarbha'],
    'Manipur': ['Naga Mani Mizo Tripura'],  
    'Meghalaya': ['Assam & Meghalaya'],
    'Mizoram': ['Naga Mani Mizo Tripura'],
    'Nagaland': ['Naga Mani Mizo Tripura'],
    'Odisha': ['Orissa'],
    'Punjab': ['Punjab'],
    'Rajasthan': ['East Rajasthan', 'West Rajasthan'],
    'Sikkim': ['Sub Himalayan West Bengal & Sikkim'],
    'Tamil Nadu': ['Tamil Nadu'],
    'Telangana': ['Telangana'],
    'Tripura': ['Naga Mani Mizo Tripura'],
    'Uttar Pradesh': ['East Uttar Pradesh', 'West Uttar Pradesh', 'Haryana Delhi & Chandigarh'],  # includes Delhi
    'Uttarakhand': ['Uttarakhand'],
    'West Bengal': ['Gangetic West Bengal', 'Sub Himalayan West Bengal & Sikkim']
}

imd_to_state = {subdiv: state for state, subdivs in state_to_imd.items() for subdiv in subdivs}
rainfall_df['State'] = rainfall_df['State'].replace(imd_to_state)
rainfall_state_df = (
    rainfall_df
    .groupby(['State', 'Year'], as_index=False)
    .sum(numeric_only=True)
)

In [46]:
len(rainfall_state_df['State'].unique())

24

In [47]:
expected_states = [
    'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 
    'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 
    'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
    'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
    'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'
]

rainfall_states = rainfall_state_df['State'].unique().tolist()
missing_states = [s for s in expected_states if s not in rainfall_states]
print("Missing states in rainfall data:", missing_states)

Missing states in rainfall data: ['Assam', 'Haryana', 'Manipur', 'Mizoram', 'Nagaland', 'Sikkim']

In [48]:
# Merge Telangana into Andhra Pradesh
rainfall_state_df['State'] = rainfall_state_df['State'].replace('Telangana', 'Andhra Pradesh')

rainfall_state_df = (
    rainfall_state_df
    .groupby(['State', 'Year'], as_index=False)
    .sum(numeric_only=True)
)

In [49]:
proxy_mapping = {
    'Assam': 'Meghalaya',
    'Haryana': 'Punjab',  
    'Manipur': 'Tripura',
    'Mizoram': 'Tripura',
    'Nagaland': 'Tripura',
    'Sikkim': 'West Bengal'
}

for missing_state, proxy_state in proxy_mapping.items():
    if missing_state not in rainfall_state_df['State'].values and proxy_state in rainfall_state_df['State'].values:
        temp = rainfall_state_df[rainfall_state_df['State'] == proxy_state].copy()
        temp['State'] = missing_state
        rainfall_state_df = pd.concat([rainfall_state_df, temp], ignore_index=True)

In [50]:
rainfall_state_df['State'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Bihar', 'Chhattisgarh',
       'Goa', 'Gujarat', 'Himachal Pradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Meghalaya', 'Odisha', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'Assam', 'Haryana', 'Manipur',
       'Mizoram', 'Nagaland', 'Sikkim'], dtype=object)

In [51]:
rainfall_state_df = rainfall_state_df[rainfall_state_df['State'] != 'Lakshadweep']

In [52]:
rainfall_state_df.to_csv('final_statewise_seasonal_rainfall.csv', index=False)